#full_search_bar{
	padding: 5px;
	border: 1px solid #97ca17;
	display: block;
	clear: both;
}

#full_search_bar label{
	margin: 10px 0 10px 10px;
	font-weight: bold;
	font-size: 10pt;
	float: left;
}
#search_txt_busca{
	width: 540px;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid #1A75CF;
}

#full_search_bar .group.opicional{
	width: 460px;
	margin: 10px 0;
	padding-top: 10px;
	display: block;
	clear: both;
	float: left;
}

#full_search_bar .group.opicional label{
	float: left;
}

.itens_result{
	list-style: none;
}
.itens_result li{
	float: left;
}