.formas-pgto-select ul{
	display: block;
	list-style: none;
	clear: both;
}

.formas-pgto-select ul li{
	margin: 10px auto;
	padding: 10px;
	position: relative;
	background: #F1F9FF;
	border: 1px solid #D9E6FF;
	border-bottom: 2px solid #CCC;
	display: block;
	clear: both;
	
	/* Para Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #FFF, #F1F9FF) repeat-x;
	/* Para WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F1F9FF)) repeat-x;

}
.formas-pgto-select ul li:hover{
	background: #BDE6F1;
	box-shadow: 1px 1px 15px #5088E6;
	border: 1px solid #D9E6FF;
	border-bottom: 2px solid #CCC;
	
	/* Para Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F1F9FF, #BDE6F1) repeat-x;
	/* Para WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F1F9FF), to(#BDE6F1)) repeat-x;
}
.formas-pgto-select ul li .title{
	padding: 5px 0;
	color: #003399;
	font-weight: bold;
	font-size: 20px;
	display: block;
	clear: both;
}


.formas-pgto-select ul li .icone
,.formas-pgto-select ul li .parcelamento
,.formas-pgto-select ul li .adicional
,.formas-pgto-select ul li .selecionar
{
	display: inline-block;
	float: left;
}

.formas-pgto-select ul li .icone{
	margin-right: 50px;
}

.formas-pgto-select ul li .parcelamento{
	padding: 10px;
	background: #3281cf;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	clear: right;
}
.formas-pgto-select ul li .adicional{
	color: #AAA;
	font-size: 12px;
	
	position: absolute;
	left: 190px;
	top: 140px;
}
.formas-pgto-select ul li:hover .adicional{
	color: #666;
}
.formas-pgto-select ul li .icone{
	width: 128px;
	height: 128px;
}

.formas-pgto-select ul li .selecionar{
	min-width: 120px;
	height: 128px;
	padding: 10px;
	background: #a7d138;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid #CCC;
	cursor: pointer;
	float: right;
	
	position: absolute;
	right: 10px;
	top: 25px;
	
	/* Para Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #c2e467, #90c10f) repeat-x;
	/* Para WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#c2e467), to(#90c10f)) repeat-x;
}