@CHARSET "ISO-8859-1";
/*Pagina Inicial*/
@import url('menu_top5.css');

#menu_view_all_category{
	display: none;
}
.msg_erro{
	list-style-position: inside;
}
.nao_encontrado{
	margin: 20px 0;
}

.nao_encontrado p{
	font-size: 10pt;
	margin: 10px 0;
}