@CHARSET "ISO-8859-1";
/*Pagina Inicial*/
@import url('menu_top5.css');
@import url('categoria.css');

#banner_categorias{
	margin: 30px auto;
}
#box-acessados{
	margin-top: 30px;
}
.infslider-container{
	width: 600px;
}
.infslider-inner{
	width: 485px;
}