/*------------------------------------
COMENTARIOS DO SITE PELOS USUARIOS
-------------------------------------- */
/*Box*/
.comment-user-box{
	margin: 10px 0;
	padding: 10px 10px 20px 10px;
	position: relative;
	display: block;
	clear: both;
	
	box-shadow: 2px 2px 3px #BBB;
}
.comment-user-box:hover{
	box-shadow: 2px 2px 3px #BBB;
}

/*Titulo*/
.comment-user-box h3{
	width: 90%;
	height: auto;
	margin: 0 0 5px 0;
	padding: 4px;
	background: #ebebeb;
	color: #6A6755;
	font: bold 10pt Verdana;
	border-radius: 5px;
	float: right;
	clear: none;
}
.comment-user-box .comment-title{
	width: 70%;
	float: left;
}
.comment-user-box .comment-data{
	width: 30%;
	text-align: right;
	float: right;
}
/*Foto*/
.comment-user-box .comment-foto{
	width:	64px;
	height:	74px;
	float:	left;
	clear: none;
}

/*Texto*/
.comment-user-box .comment-text{
	width: 90%;
	margin: 5px 0;
	padding: 3px 0;
	color: #000;
	font: normal 11pt Arial;
	float: right;
}

/*Ferramentas - botoes*/
.comment-user-box .comment-toolbar{
	margin: 10px 5px;
	padding: 4px;
	background: #FFF;
	color: #6A6755;
	font: bold 10pt Verdana;
	border-top: 1px dashed #CCC;

	display: block;
	clear: both;
	
	/*Gambiarra para margin superior que nao funciona*/
	position: relative;
	top: 10px;
	padding-bottom: 14px;
}
.comment-user-box .comment-tool-button{

}
.comment-user-box .comment-tool-responder{
	width: auto;
	height: auto;
	padding: 5px 15px;
	margin: 0px auto;
	background: #017faf;
	color: #FFF;
	font: bold 10pt Verdana, arial;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 2px #444;
	border: 0 none;
	border-radius: 5px;
	display: block;
	float: right;
	cursor: pointer;
}
.comment-user-box .comment-tool-responder:hover{
	background: #036f98;
}
.comment-user-box .comment-tool-positive
,.comment-user-box .comment-tool-negative
,.comment-user-box .comment-tool-denuciar
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background: url('../images/like-comments.png') 0 -3px no-repeat #EEE;
	border: 1px solid #BBB;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #CCC;
	text-indent: -9999em;
	display: inline-block;
	float: left;
}

.comment-user-box .comment-opnion-io .label{
	margin: 4px 0 0 5px;
	color: #BBB;
	font: bold 8pt Arial,Helvetica,sans-serif;
	float: left;
}

.comment-user-box .comment-tool-positive{
	margin-left: 15px;
}
.comment-user-box .comment-tool-negative{
	background-position: -30px -3px;
}
.comment-user-box .comment-tool-denuciar{
	margin-left: 80px;
	background-position: -60px -3px;
}
.comment-user-box .comment-tool-positive:hover
,.comment-user-box .comment-tool-negative:hover
,.comment-user-box .comment-tool-denuciar:hover
{
	box-shadow: 2px 2px 2px #BBB;
	border-color: #aaa;
	background-color: #FFF;
}
