@CHARSET "ISO-8859-1";
/*Pagina Inicial*/
@import url('menu_top5.css');

#menu_view_all_category{
	margin: 10px 0;
	font-weight: bold;
	font-size: 10pt;
	list-style: none;
	display: block;
}

#menu_categorias #menu_view_all_category a{
	background: transparent;
	text-align: right;
}