/*
	Vitrine de produtos de Departamento, categoria etc.
*/

/*.conteudo_central{
	width: auto;
	padding: 0 5px 0 0;
}*/

/*.box_produto{
	margin: 0 auto;
}*/

.departamento_titulo,h1.departamento_titulo,
.marca_titulo,h1.marca_titulo
{/*Titulo do departamento*/
	width: 98%;
	min-height: 32px;
	margin:0;
	padding: 10px;
	background: transparent url('../images/bg_titulo_depart.png') no-repeat;
	color: #5877A3;
	font-size: 28px;
	font-weight: bold;
	display: block;
	clear: both;
	/*border: 1px solid #000;/*Debug*/
}

.marca_titulo, h1.marca_titulo{/*Titulo da marca*/
	background: transparent url('../images/bg_titulo_marca.png') no-repeat;
	color: #A35858;
}


.barra_filtragem{
	margin: 5px;
	padding: 10px;
	border: 2px solid #CCC;
	display: block;
	clear: both;
}

.barra_filtragem legend{
	color: #999;
	font-size: 10px;
}

.barra_filtragem a{
	margin: 1px 5px;
	padding: 5px 5px 5px 22px;
	background: transparent url('../images/close_filtro.png') 4px center no-repeat;
	color: #999;
	font-size: 14px;
	text-decoration: none;
	text-align: justify;
	border: 1px solid #CCC;
	display: table;
	float: left;
}

.barra_filtragem a:hover{
	background-color: #999;
	color: #FFF;
}

/*Prateleiras*/

.vitrine ul{
	list-style-type: none;
}

.loading,.img_loader{
/*	width: 100%;
	height: 100%;*/
	margin: 0 auto;
	background: transparent url('../images/loading.gif') center no-repeat;
	display: block;
}