	<!--Menu ESQUERDO -->
	{include file="modules/publico/view/sub_templates/menu_categorias.tpl"}

	<!-- CONTEUDO PRINCIPAL -->
	<article class="conteudo">
		<!-- DirBar -->
		{if $barra_diretorio|@sizeof > 0}
		<div class="diretorio_bar">
	    	<ul>
			{foreach from=$barra_diretorio item=diritem}
				<li><a href="{$diritem.url}">{$diritem.label}</a></li>
			{/foreach}
			</ul>
		</div>
		{/if}
		
		<!-- BOX CENTRAL -->
		<div class="conteudo_central">
		
		Ainda nao sei o que fazer em marcas <br />
		Vai aparecer a lista de marcas com suas imagens <br />
		Depois alguns produtos destas marcas <br />
		Talvez tenha o produto principal da marca <br />
		
			<ul>
				<li>
					<a href="#">Marca 1</a>
					
					<ul>
						<li><a href="#">Categoria 1</a></li>
						<li><a href="#">Categoria 2</a></li>
						<li><a href="#">Categoria 3</a></li>
						<li><a href="#">Categoria 4</a></li>
						<li><a href="#">Categoria 5</a></li>
					</ul>
				</li>
			</ul>

		</div><!-- Fim Conteudo central -->

	<!-- MENU DIREITO -->
	{include file="modules/publico/view/sub_templates/coluna_secundaria.tpl"}
	</article><!-- Fim Conteudo -->


