	<!--Menu ESQUERDO -->
	{include file="modules/publico/view/sub_templates/menu_categorias.tpl"}

	<!-- CONTEUDO PRINCIPAL -->
	<article class="conteudo">
		<!-- DirBar -->
		{if $barra_diretorio|@sizeof > 0}
		<div class="diretorio_bar">
	    	<ul>
			{foreach from=$barra_diretorio item=diritem}
				<li><a href="{$diritem.url}">{$diritem.label}</a></li>
			{/foreach}
			</ul>
		</div>
		{/if}
		
		<!-- BOX CENTRAL -->
		<div class="conteudo_central">
		
			A marca especifica selecionada <br />
			Titulo e logo da Marca <br />
			Especificaçoes da Marca etc(pequena descricao) <br />
			Vai aparecer todos produtos, departamentos e categorias que usam esta marca <br />
			Vai ter uma lista principal dos 5 produtos principais desta marca <br />
			
		</div><!-- Fim Conteudo central -->

	<!-- MENU DIREITO -->
	{include file="modules/publico/view/sub_templates/coluna_secundaria.tpl"}
	</article><!-- Fim Conteudo -->


