	<!--Menu ESQUERDO -->
	{include file="modules/publico/view/sub_templates/menu_categorias.tpl"}

	<!-- CONTEUDO PRINCIPAL -->
	<article class="conteudo">
		<!-- DirBar -->
		{if $barra_diretorio|@sizeof > 0}
		<div class="diretorio_bar">
	    	<ul>
			{foreach from=$barra_diretorio item=diritem}
				<li><a href="{$diritem.url}">{$diritem.label}</a></li>
			{/foreach}
			</ul>
		</div>
		{/if}
		
		<!-- BOX CENTRAL -->
		<div class="conteudo_central">
		
		Ainda nao sei o que fazer aqui <br />
		Lista as promocoes <br />
		Lista os Produtos em promocao
		
			<ul>
				<li>
					<a href="#">Promocao 1</a>
				</li>
				<li>
					<a href="#">Promocao 2</a>
				</li>
				<li>
					<a href="#">Promocao 3</a>
				</li>
			</ul>

		</div><!-- Fim Conteudo central -->

	<!-- MENU DIREITO -->
	{include file="modules/publico/view/sub_templates/coluna_secundaria.tpl"}
	</article><!-- Fim Conteudo -->


