	<!--Menu ESQUERDO -->
	{include file="modules/publico/view/coluna_categorias.tpl"}

	<!-- CONTEUDO PRINCIPAL -->
	<article class="conteudo">
		<!-- DirBar -->
		{if $barra_diretorio|@sizeof > 0}
		<div class="diretorio_bar">
	    	<ul>
			{foreach from=$barra_diretorio item=diritem}
				<li><a href="{$diritem.url}">{$diritem.label}</a></li>
			{/foreach}
			</ul>
		</div>
		{/if}
		
		<!-- BOX CENTRAL -->
		<div class="conteudo_central">
		
			Ainda nao sei o que tera aqui <br />
			Sera um controller fabrication <br />
			Se nao tiver parametros <br />
			Lista as coisas referentes ao site <br />
			
		</div><!-- Fim Conteudo central -->

	<!-- MENU DIREITO -->
	{include file="modules/publico/view/coluna_secundaria.tpl"}
	</article><!-- Fim Conteudo -->


