	<!-- Busca -->
		<div class="barra_busca">
			<form name="formBusca" method="get" action="{$HOST}site/buscar/">
				<label class="barra_busca_label" for="txt_busca">Busca</label>
				<input type="text" name="txt_busca" id="txt_busca" value="{$smarty.get.txt_busca}" placeholder="Digite o nome do produto ou palavra chave que procura" required="required">
				<select name="local">
					<option value="site">Todo Site</option>
					<option value="departamento">Departamentos</option>
					<option value="produto">Produtos</option>
				</select>
				
				<button type="submit" class="barra_busca_bt_buscar" title="Buscar no Site">Buscar</button>
			</form>
		</div>

