@import url('system.css');
@import url('estilo.css');
@import url('menu_sistema.css');
@import url('frameworkStyle.css');

/*body{
	background: #FFF url('../../../framework_k13_v1.0/modules/view/template1/images/bg.jpg') fixed !important;
}*/
iframe ,iframe body{
	background: transparent !important;
}
