/*
Estilos padroes do sistema
*/

/*-----Mensagens de resposta-----*/
.msg_erro{
	width:99%;
	padding: 2px;
	background-color:#EEEEEE;
	color:red;
	border: 1px solid red;
	display:block;
	clear: both;
}
.msg_confirmada{
	width:99%;
	padding: 2px;
	background-color: #EFF6FB;
	text-align: center;
	border: 1px solid #0A6BA2;
	display:block;
	clear: both;
}
.msg_mensagem{
	width:99%;
	padding: 5px;
	background:#EFEFEF url('../images/template/bg_mensagem.png');
	font: 11px verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #AAA;
	border: 0;
	display:block;
	clear: both;
}
.box_mensagem{
	padding: 4px;
	background-color: #EFF6FB;
}
.mensagem_informacao{
	padding: 5px;
	margin: 20px 0;
	background-color: #EFF6FB;
	font: 14px helvetica, verdana, arial, sans-serif;
	font-weight: bold;
	text-align: justify;
	color: #555;
	border: 3px solid #78B4F0;
	display: block;
	clear: both;
}

/*--------------------------------------------*/
.letras_miudas{/*Mostra letras miudas*/
	font-size: 0.7em;
	color: #888;
	text-align: left;
}

/*colunas de conteudo*/
.coluna_dupla{
	width: 49.5%;
	float: left;
}
.coluna_tripla{
	width: 30%;
	float: left;
}

/* ==================QUALIFICAÇÃO POR ESTRELAS================= */
.qualificacao_00,.qualificacao_10,.qualificacao_20,.qualificacao_30,.qualificacao_40,.qualificacao_50
{/*Caracteristicas Padroes*/
	width:65px;
	height:11px;
	background: #FFF url("../images/template/rating-produto-00.png") no-repeat;
	display: block;
}
/*     Estrelas Pequenas     */
.qualificacao_00{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-00.png") no-repeat;
}
.qualificacao_10{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-10.png") no-repeat;
}
.qualificacao_20{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-20.png") no-repeat;
}
.qualificacao_30{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-30.png") no-repeat;
}
.qualificacao_40{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-40.png") no-repeat;
}
.qualificacao_50{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-produto-50.png") no-repeat;
}

/*     Estrelas Grandes     */
.qualificacao_grande_00,.qualificacao_grande_10,.qualificacao_grande_20,.qualificacao_grande_30,.qualificacao_grande_40,.qualificacao_grande_50
{/*Caracteristicas Padroes*/
	width:115px;
	height:20px;
	background: #FFF url("../images/template/rating-00.png") no-repeat;
	display: table-cell;
}
.qualificacao_grande_00{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-00.png") no-repeat;
}
.qualificacao_grande_10{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-10.png") no-repeat;
}
.qualificacao_grande_20{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-20.png") no-repeat;
}
.qualificacao_grande_30{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-30.png") no-repeat;
}
.qualificacao_grande_40{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-40.png") no-repeat;
}
.qualificacao_grande_50{/*Nenhuma qualificação*/
	background: #FFF url("../images/template/rating-50.png") no-repeat;
}



/*RATE IT FORM------------------------------------------------------------------------------------------------*/

.rating { cursor: pointer; display: block; width: 115px; }
.rating:after { content: '.'; display: block; height: 0;width: 0;clear: both; visibility: hidden; }

.cancel, .star {float: left; width: 23px;height: 20px;overflow: hidden;text-indent: -999em;cursor: pointer; }

.star,
.star a {background: url("../images/template/star.png") no-repeat 0 0px;}
.star a { display: block; width: 100%; height: 100%; background-position: 0 0px; }

div.rating div.on a { background-position: 0 -20px;}
div.rating div.hover a, div.rating div a:hover { background-position: 0 -40px; }

div.done, div.done a { cursor: default; }

/*------------------------------------------------------------------------------*/
.tooltip{
	width: 18px;
	height: 18px;
	background: url('../images/admin/icon_help.gif') right no-repeat;
}
.tooltip p{
	background: #EFEFEF;
	display: none;
}
.tooltip:hover p{
	display: block;
}

/*-------ICONES-----------------------------------------------------------------------*/
.icone-sucesso{/*Icone*/
	width: 60px;
	height: 60px;
	margin: 20px;
	background: url('../images/template/sucesso_ico.png') no-repeat;
	float: left;
}
.icone-problema{/*Icone*/
	width: 60px;
	height: 60px;
	margin: 10px;
	background: url('../images/template/insucesso_ico.png') no-repeat;
	float: left;
}
.icone-informacao{/*Icone*/
	width: 60px;
	height: 60px;
	margin: 10px;
	background: url('../images/template/ico_informacao.png') no-repeat;
	float: left;
}

