/**
*	================= COLUNA DO FORMULARIO =================
*/
/*	.contato {
		width: 65%;
		height: 430px;
		padding: 20px;
		margin: 0;
		background: url('../image/bgblack.png');
		
		display: inline-block;
		float: left;
		clear: none;
		
		border: 1px solid green;
	}
*/
	.contato form {
		width: 60%;
	}
	
	.contato fieldset {
		width: 96%;
		margin: 15px 0;
		padding: 0 5px;
		font-size: 12px;
		font-weight: bold;
		color: #289edc;
		
		border: 2px solid #CCC;/*#999*/
		background: url('../image/bgwhite.png');
		
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	


	.contato fieldset legend
	,.contato legend
	{
		margin-left: 10px;
		font-size: 1.2em;
		font-family: sans-serif !important;
		font-weight: bold;
		color: #000;
	}
	
	.contato input[type="text"]
	,.contato textarea
	,.contato select
	{
		width: 99%;
		margin-top: -5px;
		padding: 3px 0;
		background: transparent;
		border: 0;
		
		font-size: 14px;
		font-weight: bold;
		color: #444;
	}
	
	#arquivo{
		width: 100%;
		margin-bottom: 5px;
	}
	

	.focus {
		background: #FFF !important;
		border-color: #ff8315 !important;
		border-width: 2px !important;
	}
	
	.contato textarea {
		width: 100%;
	}
	
	#enviar
	,.contato #enviar
	{
		padding: 10px 20px;
		margin: 5px 10px 5px auto;
		background: #BBB;
		font-weight: bold;
		font-size: 16px;
		border: 2px solid #999;
		color: #444;
		cursor: pointer;
		
		float: right;
		display: block;
		clear: both;
		
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
	#enviar:hover
	,.contato #enviar:hover
	,#enviar:focus
	{
		background-color: #FFF;
		border-color: #ff8315;
		color: #000;
	}


	#box_cidade{
		width: 86%;
		float: left;
		display: inline-block;
	}
	#box_uf{
		width: 10%;
		display: inline-block;
	}
	
	

/**
*	================= COLUNA DE INFORMAÇÕES =================
*/
	.column_info {
		width: 28.7%;/*auto;*/
		height: 430px;
		padding: 20px;
		margin: 0;
		position: absolute;
		right: 0;
		top:0;
		float: right;
		background: url('../image/bgwhite.png');
		display: inline-block;
		
		/*clear: both;*/
		border: 1px solid blue;
	}
	
	.column_info ul {/*Lista*/
		list-style-position: inside;
		list-style: none;
		font-size: 12px;
	}
	
	.column_info h3{ /*titulo*/
		margin: 20px auto 10px auto;
		display: block;
		clear: both;
		font-weight: bold;
		font-size: 1.0em;
		font-family: sans-serif !important;
		/*text-decoration: underline;*/
	}
	
	.column_info h3.first{ /*primeiro titulo*/
		margin: 0 auto 10px auto;
	}
	
	.column_info a
	,.column_info a#suporte
	,#suporte
	{/*link*/
		max-width: 250px;
		text-decoration: underline;
		font-weight: normal;
		white-space: normal;
		display: table-cell;
	}
	
	.msg_sucesso
	,.msg_erro{/*Mensagens de resposta*/
		padding: 3px;
		font-weight: bold;
		font-size: 18px;
		background: #f4e1e1;
		color: #bc0f0f;
		border: 2px solid #bc0f0f;
		
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	.msg_sucesso{/*Sucesso*/
		background: #e1f4e9;
		color: #326a50;
		border: 2px solid #326a50;
	}
	.msg_sucesso ul
	,.msg_erro ul
	{
		list-style-position: inside;
	}