@CHARSET "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;vertical-align:baseline;background:transparent}
h4{font-family: sans-serif !important;font-weight: normal;}
h2{font-family: sans-serif !important;font-weight: normal;}
h5{font-family: sans-serif !important;font-weight: normal;font-size: 12px}
a{text-decoration: none;}
.conteiner{font-family: sans-serif !important;;min-width:900px}
	.header{top:0;height:110px;background-image:url("../image/bgblack.png");width:100%;float:left;color:#FFF}
		.headerNav{float: right;font-size:9px;background-color: #333; padding:5px;margin-right:15px;margin-left:250px;margin-bottom:20px;}
		.logo img{margin-left:30px; margin-top:5px;float:left} 
		.MainNav{float:right;top:0;margin-right:10px;height:110px}
		.headerNav a{color:#FFF}
		.headerNav a:hover{border-bottom: 1px dotted #CCC;}
			.MainNav ul {right:0px;position: absolute;top:60px}
			.MainNav ul li{list-style:none;float:left;margin-right:35px;font-size:1.7em;font-variant:small-caps;}
			.MainNav ul li a {color: #FFF}
			.MainNav ul li:HOVER {color: #FFF;border-bottom: solid 2px #ff8315;}
	
	.content{top:0;background:url("../image/festas.jpg") top no-repeat ;min-height:600px;z-index:0;position: relative;; z-index:-1}
	.contentContato{top:0;background:url("../image/contato.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1;}
	.contentEmpresa{top:0;background:url("../image/empresa.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1;}
	.contentTrabalho{top:0;background:url("../image/trabalho.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentSolucao{top:0;background:url("../image/solucao.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentObjetivo{top:0;background:url("../image/objetivo.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentDeveloper{top:0;background:url("../image/developer.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentTreinamento{top:0;background:url("../image/treinamento.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentSistema{top:0;background:url("../image/sistema.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	.contentCartao_cidadao{top:0;background:url("../image/cartao.jpg") top no-repeat ;min-height: 600px;position: relative;; z-index:-1}
	
		.ContentNews{height:60px;background-image:url("../image/bgblack.png");width:100%;float:left;color:#FFF;margin-top: -100px}
			.ContentNewsMain{margin:-10px auto 0 auto;width:900px;color:#FFF;font-size:1.6em;letter-spacing:-1px; }
			.ContentNewsMain a{color: #FFF}
			.ContentNewsMain .col1{width:250px;float:left;margin:15px 0px}
			.ContentNewsMain .col2{width:250px;float:left;margin:15px 70px}
			.ContentNewsMain .col3{width:250px;float:right;margin:15px 0px}
	
		.ContentMain{margin:0px auto 0 auto;width:900px;min-height: 250px;text-align:center;}
			.col1{width:250px;float:left;margin:15px 0px}
			.col2{width:250px;float:left;margin:15px 70px}
			.col3{width:250px;float:right;margin:15px 0px}
			.col1 h2, .col2 h2, .col3 h2{font-size:20px;text-align:left;margin-bottom: 10px;line-height: 20px;color: #444}
		 	.col1 h4, .col2 h4, .col3 h4{font-size:14px;text-align: justify;line-height: 20px;color: #555}
		 	.TituliSessao{margin:10px auto 0 auto;width:900px;color:#FFF;font-size:2.0em;letter-spacing:-1px }
		 	
		 	.empresa{text-align: left;margin-bottom: 15px}
			 	.empresa h2{font-size:44px;margin:25px 50px 15px 5px;font-weight:bold; }
			 	.empresa h3{font-size:32px;margin:15px 50px 15px 5px;font-style: italic;font-weight: 100;}
			 	.empresa p{line-height:25px;margin-bottom: 14px ;color: #444;margin-top:25px;text-align: justify; }
			 	.assinatura {line-height: 25px;text-align:right;color: #444;margin:45px}
			 		.assinatura h5 {font-size:12px }
			 	.empresa ul li{list-style:square;color: #444;margin-left: 18px}
			
			 .contato{text-align: left;;margin-bottom: 15px}
			  	.contato h2{font-size:44px;margin:15px 50px 15px 5px;font-weight:bold; }
			  	.contato form{margin-top:25px;}
	
	.error{background:url("../image/404.jpg") no-repeat center bottom;width: 100%;height:700px;}
		.error h1{line-height:95px;font-size: 40px}
		.error h2{font-size:20px;margin:15px 50px 15px 5px;font-style: italic;font-weight: 100;text-align: }
	.footer{height:150px;background:url("../image/footer-bg.jpg");width: 100%;clear: both;border-top: #ff8315 solid 2px }
		.footerContent{margin:0px auto 0 auto;width:900px}
		.footerPartner{float:left;}
		.footerPartner img{margin:17px;margin-top:50px ;height: 40px}
		.address{text-align:right;padding-top:40px;font-size: 10px;color: #fff;line-height: 15px}
		.address a{color:#FFF}
		 