.menu_principal{
	width: 737px;
	height: 49px;
	background: transparent url("../images/template/bg_menu_topo.png") center no-repeat;/*#1A75CF*/
	float: left;
	border-radius: 10px;
}

.menu_principal ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

/*Top level list items*/
.menu_principal ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
/*.menu_principal ul li a{
	display: block;
	background: #D5E661 url(../images/template/bg_menu.png) repeat-x; /*background of menu items (default state)*/
/*	color: #3B4B20;
	text-transform: uppercase;
	padding: 14px 3px;
	border-right: 1px solid #778;
	text-align: center;
	text-decoration: none;
}*/

/*.menu_principal ul li a.destaque{/*Item em destaque*/
/*	background: #D5E661 url('../images/template/bg_menu_destaque.gif') repeat-x;
}*/

* html .menu_principal ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.menu_principal ul li a:link, .menu_principal ul li a:visited{
color: #3B4B20;
}

.menu_principal ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: black; 
color: white;
}

.menu_principal ul li a:hover{/*background of menu items during onmouseover (hover state)*/
/*background: black;
color: white;*/
}
	
/*------------------1st sub level menu---------------*/
.menu_principal ul li ul{
	position: absolute;
	/*left: 0;*/
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
/*.menu_principal ul li ul li{
color: white;
display: list-item;
float: none;
}*/

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
/*.menu_principal ul li ul li ul{
top: 0;
}
*/

/* Sub level menu links style */
/*.menu_principal ul li ul li a{
font: normal 13px Verdana;
color: white;
width: 160px; /*width of sub menus*/
/*padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
}*/

/* Holly Hack for IE \*/
* html .menu_principal{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}
